#debug or release
RUN_MODE = debug

[app]
PAGE_SIZE = 10
JWT_SECRET = 23347$040412

[server]
HTTP_PORT = 9000
READ_TIMEOUT = 60
WRITE_TIMEOUT = 60

[database]
#数据库类型
CONNECTION = mysql
#数据库IP
HOST = 127.0.0.1
#数据库端口号
PORT = 3306
#数据库名称
NAME =
# 数据库账号
USERNAME =
# 数据库密码
PASSWORD =
#表前缀
PREFIX =